#txtInputTodo {
    font-size: 20px;
    margin: 8px;
    width: stretch;
    display: block;
}

#btnSubmit {
    font-size: 20px;
    display: block;
    width: stretch;
    margin: 8px;
}

#heading {
    font-size: 20px;
    display: block;
    margin: 8px;
    text-align: center;
}